@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #191919;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
}

#checkCompleted:checked ~ .check-1 {
  @apply opacity-100;
}

#checkCompleted:checked .text-item-checked {
  @apply line-through text-grayvar-200;
}

.task-content::-webkit-scrollbar {
  width: 0.625rem;
  background-color: transparent;
  border-radius: 1rem;
}

.task-content::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-grayvar-200;
}
